<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Qazaq IPTV | Qazaqstan’s public tv/radio m3u8 playlist">
    <meta property="og:site_name" content="Qazaq IPTV">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://aidoseg.github.io/qazaqiptv/assets/img/social-media-card.png">
    <meta property="og:url" content="https://aidoseg.github.io/qazaqiptv/">
    <meta property="og:description" content="Qazaqstan’s public tv/radio m3u8 playlist">
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@aidoseg" />
    <meta name="twitter:title" content="Qazaq IPTV | Qazaqstan’s public tv/radio m3u8 playlist" />
    <meta name="twitter:description" content="Qazaq IPTV — это плейлист с трансляцией прямого эфира общедоступных казахстанских теле- и радиоканалов" />
    <meta name="twitter:image" content="https://aidoseg.github.io/qazaqiptv/assets/img/social-media-card.png" />
    <meta name="twitter:image:alt" content="Qazaq IPTV | Qazaqstan’s public tv/radio m3u8 playlist">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/qazaqiptv/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/qazaqiptv/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/qazaqiptv/favicon-16x16.png">
    <link rel="manifest" href="/qazaqiptv/site.webmanifest">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>

    <![endif]-->
      <script>
        function copyText() {
      
            /* Copy text into clipboard */
            navigator.clipboard.writeText
                ("https://aidoseg.github.io/qazaqiptv/playlist.m3u8");
        }
     </script>
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><span class="header-left"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></span>
          <span class="header-right">
          <div class="dropdown">
          <button class="dropbtn"><img src="https://aidoseg.github.io/qazaqiptv/assets/img/translate.png"></button>
          <div class="dropdown-content">
          <a href="{{ "/" | absolute_url }}"><img src="https://aidoseg.github.io/qazaqiptv/assets/img/kz.png"></a>
          <a href="{{ "/" | absolute_url }}/ru"><img src="https://aidoseg.github.io/qazaqiptv/assets/img/ru.png"></a>
  </div>
</div>
          </span></h1>

        {% if site.logo %}
          <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% endif %}

        <p><center/><h3>{{ site.description | default: site.github.project_tagline }}</h3></center/></p>

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}

        <ul class="downloads">
          <li><a href="{{ site.github.m3u8_url }}">Download <strong>Playlist</strong></a></li>
          <li><a onclick="copyText()">Copy Playlist<strong>URL</strong></a></li>
          <li><a href="mailto:aidos.kapanov@gmail.com">Contact <strong>Me</strong></a></li>
        </ul>
           
        {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
